<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hello World Suite Name">

  <test name="Hello World test name">
    <classes>
        <class name="com.test.helloworld.HelloWorld"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
